
.circle1{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(59, 89, 152);
    margin-right: 20px;

}
.circle2{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(230, 33, 23);
    margin-right: 20px;
}
.circle3{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(129, 52, 175);
    margin-right: 20px;

}
.circle4{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(0, 119, 181);

}
.menu{
    text-align: center;
}
